.order{
	width:1200px;
	margin:30px auto;
	overflow:hidden;
}
.order-ri{
	width:80%;
	float:left;
	
}
.ri-top{
	background-color:#fff;
	padding-bottom:30px;
}




.ri-bot{
	margin-top:30px;
}

.bot-img{
	width:180px;
	text-align:center;
	line-height:30px;
	background-color:#fff;
	float:left;
	margin:20px 5px;
}
.bot-img>div{
	width:153px;
	margin:0 auto;
}
.bot-img>ul>li:nth-child(1){
	color:#f00;
}
.bot-img>ul>li:nth-child(2){
	font-size:13px;
}
.ul-b>li:nth-child(6)>a{
	background-color:#ffca01;
}
.ul-a>li:nth-child(3)>a{
	background-color:#ffca01;
}




/*ul*/
.pur-ul>ul:nth-child(1){
	line-height: 30px;
	background-color:#1a3880;
	color:#fff;
}
.pur-ul>ul:nth-child(2){
	margin-top:0;
}
.pur-ul>ul{
	overflow:hidden;
	width:90%;
	margin:30px auto 0;
	
	border:1px solid #ddd;
}
.pur-ul>ul>li{
	float:left;
	width:120px;
	text-align:center;
}
.pur-ul>ul>li:nth-child(1){
	float:left;
	width:260px;
	text-align:center;
}

.ul-in>li>div:nth-child(3){
	width:130px;
	float:right;
}
.ul-in>li:nth-child(1)>span:nth-child(1){
	line-height: 105px;float:left;
}
.ul-in>li{
	padding:25px 0;
}
.ul-in>li:nth-child(1){
	padding:0;
}


.ul-in span{
	color:#f00;
}
.td-an{
	overflow:hidden;
	text-align:center;
}
.td-an>li{
	float:left;
}
.td-an>li>input{
	width:20px;
}


.float{
	overflow:hidden;
	
}
.float-l{
	width:80%;
	float:left;
}
.float-l>ul>li{
	float:left;
	margin-left:20px;
}

.float-r>ul{float:right;}
.float-r>ul>li{
	float:left;
	margin-right:20px;
}
.size-red>li>span{
	color:#f00;
}

